.tree-box {
    position: relative;
    width: 1076px;
    height: 900px;
    background-color: white;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.tree-nav {
    position: absolute;
    text-align: center;
    top: 50px;
}

#prevBtn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#nextBtn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tree-nav button {
    padding: 6px 12px;
    margin: 0 8px;
    border-radius: 6px;
    border: none;
    background-color: #605BFF;
    color: white;
    cursor: pointer;
}

.tree-nav button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#pageIndicator {
    font-weight: bold;
    color: #605BFF;
}

.tree-container {
    display: flex;
    justify-content: center;
}

.tree-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    color: #555;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.tree-close-btn img {
    width: 28px;
    height: 28px;
    transition: filter 0.13s;
}

.treeImg {
    width: 842px;
    height: 842px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.tree-layout {
    position: absolute;
    margin-top: 90px;
    width: 600px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.tree-badge1 {
    position: absolute;
    top: 161px;
    left: 190px;
    background: transparent;
    width: 86px;
}

.tree-badge2 {
    position: absolute;
    top: 210px;
    left: 350px;
    background: transparent;
    width: 86px;

}

.tree-badge3 {
    position: absolute;
    top: 340px;
    left: 260px;
    background: transparent;
    width: 86px;
}

.tree-badge4 {
    position: absolute;
    top: 450px;
    left: 140px;
    background: transparent;
    width: 86px;

}

.tree-badge5 {
    position: absolute;
    top: 450px;
    left: 440px;
    background: transparent;
    width: 86px;
}